.boton {
    border: $colorPrincipal;
    &:hover {
        background-color: $colorSecundario;
    }
}

.botonCartas {
    color: white;
    background-color: $colorPrincipal;
    border: none;
    &:hover {
        background-color: $colorSecundario;
    }
}