
.cartasFlex {
    display: flex;
}

.cartasOferta1 {
    text-decoration: line-through;
    font-size: 25px;
}

.cartasOferta2 {
    font-size: 22px;
    color: $colorSecundario;
}

.card {
    padding: 5px;
    margin-top: 15px;
    border-radius:  15px;
}